* {
    font-family: Roboto; 
}

body {
    background-color: #c5a8db !important;
}

#btn-back-to-top {
    background-color: #9e71c0 !important;
    border-radius: 20%;
    bottom: 20px;
    color: #ffffff;
    display: none;
    position: fixed;
    right: 20px;
    z-index: 2;
}

#card-contato, .d-block {
    border-radius: 15px;
}

#card-contato {
    background-color: #c5e0c4;
}

.card-title, #copyright {
    margin-top: 20px;
}

.card-text, .card-title, .nav-link, #sobre-terapias, #sobre-title {
    color: #8d61ae;
}

.carousel {
    margin-top: 50px;
}

#copyright {
    font-size: 10px;
}

#copyright, #initial, #instagram, #sobre-terapias, #sobre-title {
    text-align: center;
}

#contato, #sobre, #terapias {
    margin-top: 200px;
}

#instagram-icon {
    height: 50px;
    width: 50px; 
}

#logo {
    border-radius: 50%; 
    margin-top: 119px;
    max-width: 100%;
    width: 380px;
}

#nav-group {
    margin-top: 100px;
}

#sobre {
    text-align: justify;
}

#sobre, #terapias {
    margin-left: 40px; 
    margin-right: 40px;
}

#sobre-img {
    border-radius: 5%;
}
